@import "base";
@import "variable";

@media screen and #{$DESKTOP} {
  .skills {
    margin-top: 80px;
    .skl-idx {
      .skl-text {
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 22px);
      }
    }

    .lg-con {
      display: flex;
      flex-direction: column;
      margin-top: 40px;

      .lg-title {
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
      }

      .lg-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-items: center;

        .lg-item {
          @include setSkillItem(1);
          @include setCursorPointer();
        }
      }
    }

    .pf-con {
      .pf-title {
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
      }

      .pf-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-items: center;

        .pf-item {
          @include setCursorPointer();
          @include setSkillItem(1);
        }
      }
    }

    .li-con {
      .li-title {
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
      }

      .li-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-items: center;

        .li-item {
          @include setCursorPointer();
          @include setSkillItem(1);
        }
      }
    }

    .to-con {
      .to-title {
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 14px);
      }

      .to-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-items: center;

        .to-item.pointer {
          @include setCursorPointer();
          @include setSkillItem(1);
        }

        .to-item.default {
          @include setCursorDefault();
          @include setSkillItem(1);
        }
      }
    }
  }
}



@media screen and #{$TABLET} {
  .desktop {
    display: none;
  }
  .skills {
    margin-top: 40px;
    .skl-idx {
      .skl-text {
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 18px);
      }
    }

    .lg-con {
      display: flex;
      flex-direction: column;
      margin-top: 24px;

      .lg-title {
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
      }

      .lg-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-items: center;
        .lg-item {
          @include setSkillItem(2);
          @include setCursorPointer();
        }
      }
    }

    .pf-con {
      .pf-title {
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
      }

      .pf-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-items: center;

        .pf-item {
          @include setCursorPointer();
          @include setSkillItem(2);
        }
      }
    }

    .li-con {
      .li-title {
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
      }

      .li-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-items: center;

        .li-item {
          @include setCursorPointer();
          @include setSkillItem(2);
        }
      }
    }

    .to-con {
      .to-title {
        @include setFont($COLOR_FFFFFF, $FONT_WEIGHT_BOLD, 12px);
      }

      .to-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-items: center;

        .to-item.pointer {
          @include setCursorPointer();
          @include setSkillItem(2);
        }

        .to-item.default {
          @include setCursorDefault();
          @include setSkillItem(2);
        }
      }
    }
  }
}